# Ignoring files according to http://microchip.wikidot.com/faq:72
build/
dist/

#Ignoring private Makefiles, to create them open the MPLAB IDE or use the C:\Program Files (x86)\Microchip\MPLABX\<VERSION>\mplab_ide\bin\prjMakefilesGenerator.bat script
/Senior_Design.X/nbproject/Makefile-*
/Senior_Design.X/nbproject/Package-*
/Senior_Design.X/nbproject/private/